<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Portfolio | Обо мне</title>
    <link rel="stylesheet" href="main.min.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="maincontent">
        <section class="hero">
          <header class="header">
            <div class="header__socials">
              <ul class="socials">
                <li class="socials__item"><a class="social__link" href="https://vk.com/id436024674" target="_blank">
                    <!--+icon(social, 'socials__icon')-->
                    <div class="socials__icon inlined-svg-vk"></div></a></li>
                <li class="socials__item"><a class="social__link" href="https://github.com/white84" target="_blank">
                    <!--+icon(social, 'socials__icon')-->
                    <div class="socials__icon inlined-svg-github"></div></a></li>
                <li class="socials__item"><a class="social__link" href="https://ru.linkedin.com/" target="_blank">
                    <!--+icon(social, 'socials__icon')-->
                    <div class="socials__icon inlined-svg-in"></div></a></li>
              </ul>
            </div>
            <div class="header__menu">
              <button class="hamburger hamburger--collapse" type="button" id="hamburger-menu"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
            </div>
          </header>
          <div class="hero__content"><img class="title-img" src="/assets/images/titles/portfolio-header.png" alt="page title"/>
            <div class="hero__user-desc">
              <div class="user">
                <div class="user__pic-container">
                  <div class="user_pic"><img class="user_pic-img" src="/assets/images/content/user.jpg" alt="user pic"/>
                  </div>
                </div>
                <div class="user__info"> 
                  <div class="user__name">Лашин Александр</div>
                  <div class="user__desc">Личный сайт разработчика</div>
                </div>
              </div>
            </div><a class="href" href="#about">
              <div class="hero__arrow-down inlined-svg-arrow-down"> </div></a>
          </div>
        </section>
        <section class="about"><a name="about"></a>
          <div class="about__col about__col--background-white">
            <svg class="triangle--svg-left-triagle" viewbox="0 0 1000 150">
              <polygon points="0 0, 1000 150, 0 150"></polygon>
            </svg>
            <div class="about__user-info">
              <div class="about__left-title">
                <h1 class="title">Обо мне</h1>
              </div>
              <div class="user-info">
                <div class="user-info__avatar"><img class="user-info__avatar_pic" src="/assets/images/content/user-pic.jpg" alt="user avatar"/>
                </div>
                <div class="user-info__title">
                  <h2 class="subtitle">Кто я</h2>
                </div>
                <div class="user-info__text text-block">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eos ex aliquam, mollitia in facilis. Ea deserunt dignissimos voluptates laboriosam, culpa eum doloremque, molestias necessitatibus fugiat sed harum omnis deleniti. </p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eos ex aliquam, mollitia in facilis. Ea deserunt dignissimos voluptates laboriosam, culpa eum doloremque, molestias necessitatibus fugiat sed harum omnis deleniti. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="about__col about__col--background-beige">
            <svg class="triangle--svg-right-triagle" viewbox="0 0 1000 150">
              <polygon points="0 150, 1000 0, 1000 150"></polygon>
            </svg>
            <div class="about__right-title">
              <h2 class="subtitle">Чем я могу быть вам полезен</h2>
            </div>
            <div class="about__desc-text text-block">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio culpa quas possimus veritatis cupiditate impedit doloribus quo, consequuntur alias, porro sequi optio nemo. Quia fugit quisquam voluptatibus animi libero vero?</p>
            </div>
            <div class="about__content">
              <div id="skills-component"></div>
            </div>
          </div>
        </section>
        <section class="contacts">
          <div class="contacts__header"></div>
          <div class="contacts__content">
            <div class="contacts__pop-up">
              <div class="user-contacts">
                <div class="user-contacts__title">
                  <h2 class="subtitle">Контакты</h2>
                </div><a class="contact" href="skype:echo123?call" target="_blank">
                  <div class="contact__icon inlined-svg-skype"></div>
                  <div class="contact__text">white white    </div></a><a class="contact" href="mailto:lashin.sasha@gmail.com" target="_blank">
                  <div class="contact__icon inlined-svg-envelope"></div>
                  <div class="contact__text">lashin.sasha@gmail.com    </div></a><a class="contact" href="tel:+79851619766" target="_blank">
                  <div class="contact__icon inlined-svg-phone"></div>
                  <div class="contact__text">+79851619766    </div></a><a class="contact" href="https://www.google.com/maps/place/%D1%83%D0%BB.+%D0%9A%D0%B8%D1%80%D0%BE%D0%B2%D0%B0,+4,+%D0%9F%D0%BE%D0%B4%D0%BE%D0%BB%D1%8C%D1%81%D0%BA,+%D0%9C%D0%BE%D1%81%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB./@55.430827,37.5399663,17z/data=!3m1!4b1!4m5!3m4!1s0x414aa83872d05f41:0xed3b379c332d60b1!8m2!3d55.430827!4d37.542155" target="_blank">
                  <div class="contact__icon inlined-svg-map_marker"></div>
                  <div class="contact__text">г. Подольск ул. Кирова 4    </div></a>
              </div>
            </div>
          </div>
          <footer class="footer">
            <div class="footer__row">
              <div class="footer__col">
                <ul class="menu">
                  <il class="menu__item"><a class="menu_link" href="portfolio.html">Мои работы</a></il>
                  <il class="menu__item"><a class="menu_link" href="about.html">Обо мне</a></il>
                  <il class="menu__item"><a class="menu_link" href="blog.html">Блог</a></il>
                  <il class="menu__item"><a class="menu_link" href="index.html">Авторизация</a></il>
                </ul>
              </div>
              <div class="footer__col footer__col--justify-end">
                <ul class="socials">
                  <li class="socials__item socials__item--round"><a class="social__link" href="https://vk.com/id436024674" target="_blank">
                      <!--+icon(social, 'socials__icon')-->
                      <div class="socials__icon inlined-svg-vk"></div></a></li>
                  <li class="socials__item socials__item--round"><a class="social__link" href="https://github.com/white84" target="_blank">
                      <!--+icon(social, 'socials__icon')-->
                      <div class="socials__icon inlined-svg-github"></div></a></li>
                  <li class="socials__item socials__item--round"><a class="social__link" href="https://ru.linkedin.com/" target="_blank">
                      <!--+icon(social, 'socials__icon')-->
                      <div class="socials__icon inlined-svg-in"></div></a></li>
                </ul>
              </div>
            </div>
            <div class="footer__row">
              <div class="footer__col"> Я веб-разработчик из Подольска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. </div>
              <div class="footer__col footer__col--justify-end">© Лашин Александр | создано с любовью в LoftSchool | 2019</div>
            </div>
          </footer>
        </section>
      </div>
      <script type="text/x-template" id="skills-list">
        <ul class="skills">
          <li class="skills__item" v-for="skillsGroupObject in skills">
            <skills-row :skillsGroupObject="skillsGroupObject"></skills-row>
          </li>
        </ul>
      </script>
      <script type="text/x-template" id="skills-item">
        <div class="skills-row">
          <div class="skills-row__title">{{skillsGroupObject.skillsGroup}}</div>
          <ul class="skills-row__list">
            <li class="skill-row__item" v-for="(skillPersentage, skillTitle) in skillsGroupObject.skills">
              <skill :skillPersentage="skillPersentage" :skillTitle="skillTitle"></skill>
            </li>
          </ul>
        </div>
      </script>
      <script type="text/x-template" id="skill">
        <div class="skill">
          <div class="skill__progress-bar" v-bind:title="skillTitle">
            <svg class="skill__progress" viewPort="0 0 100 100" preserveAspectRatio="none">
              <circle class="skill__circle" r="50" cx="60" cy="60"></circle>
              <circle class="skill__circle skill__circle--bar" r="50" cx="60" cy="60" ref="circle" stroke-dashoffset="100"></circle>
            </svg>
          </div>
        </div>
      </script>
    </div>
    <div class="main-menu main-menu--hide">
      <div class="main-menu__left"></div>
      <div class="main-menu__right"></div>
      <div class="main-menu__content">
        <ul class="menu-list">
          <li class="menu-list__item"><a href="portfolio.html">
              <h1 class="main-menu-item">Мои работы</h1></a></li>
          <li class="menu-list__item"><a href="about.html">
              <h1 class="main-menu-item">Обо мне</h1></a></li>
          <li class="menu-list__item"><a href="blog.html">
              <h1 class="main-menu-item">Блог</h1></a></li>
          <li class="menu-list__item"><a href="index.html">
              <h1 class="main-menu-item">Авторизация</h1></a></li>
        </ul>
      </div>
    </div>
    <script src="about.bundle.js"></script>
    <script src="hamburger_menu.bundle.js"></script>
  </body>
</html>