
<script type="text/x-template" id="skills-list">
  <ul class="skills">
    <li class="skills__item" v-for="skillsGroupObject in skills">
      <skills-row :skillsGroupObject="skillsGroupObject"></skills-row>
    </li>
  </ul>
</script>
<script type="text/x-template" id="skills-item">
  <div class="skills-row">
    <div class="skills-row__title">{{skillsGroupObject.skillsGroup}}</div>
    <ul class="skills-row__list">
      <li class="skill-row__item" v-for="(skillPersentage, skillTitle) in skillsGroupObject.skills">
        <skill :skillPersentage="skillPersentage" :skillTitle="skillTitle"></skill>
      </li>
    </ul>
  </div>
</script>
<script type="text/x-template" id="skill">
  <div class="skill">
    <div class="skill__progress-bar" v-bind:title="skillTitle">
      <svg class="skill__progress" viewPort="0 0 100 100" preserveAspectRatio="none">
        <circle class="skill__circle" r="50" cx="60" cy="60"></circle>
        <circle class="skill__circle skill__circle--bar" r="50" cx="60" cy="60" ref="circle" stroke-dashoffset="100"></circle>
      </svg>
    </div>
  </div>
</script><!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Portfolio | Блог</title>
    <link rel="stylesheet" href="main.min.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="maincontent">
        <section class="hero">
          <header class="header">
            <div class="header__socials">
              <ul class="socials">
                <li class="socials__item"><a class="social__link" href="https://vk.com/id436024674" target="_blank">
                    <!--+icon(social, 'socials__icon')-->
                    <div class="socials__icon inlined-svg-vk"></div></a></li>
                <li class="socials__item"><a class="social__link" href="https://github.com/white84" target="_blank">
                    <!--+icon(social, 'socials__icon')-->
                    <div class="socials__icon inlined-svg-github"></div></a></li>
                <li class="socials__item"><a class="social__link" href="https://ru.linkedin.com/" target="_blank">
                    <!--+icon(social, 'socials__icon')-->
                    <div class="socials__icon inlined-svg-in"></div></a></li>
              </ul>
            </div>
            <div class="header__menu"><a class="hamburger" href="">
                <div class="inlined-svg-hamburger"></div></a></div>
          </header>
          <div class="hero__content">
            <div class="hero__user-desc">
              <div class="user">
                <div class="user__pic-container">
                  <div class="user_pic"><img class="user_pic-img" src="/assets/images/content/user.jpg" alt="user pic"/>
                  </div>
                </div>
                <div class="user__info"> 
                  <div class="user__name">
                    <svg class="user__name-icon">
                      <use xlink:href="/assets/images/icons/sprite.svg#blog_header"></use>
                    </svg>
                    <h1 class="title">Блог</h1>
                  </div>
                  <div class="user__desc">Статьи, которые я написал</div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="blog">
          <svg class="triangle--svg-left-triagle" viewbox="0 0 1000 150">
            <polygon points="0 0, 1000 150, 0 150"></polygon>
          </svg>
          <svg class="triangle--svg-right-triagle" viewbox="0 0 1000 150">
            <polygon points="0 150, 1000 0, 1000 150"></polygon>
          </svg>
          <div class="blog__content">
            <div class="blog__col blog__col--left">
              <ul class="blog-menu">   
                <li class="blog-menu__item blog-menu__item--active"><a href="#1">Самое важное в SASS</a></li>
                <li class="blog-menu__item"><a href="#2">Приёмы в вёрстке, без которых не обходится ни один сайт</a></li>
                <li class="blog-menu__item"><a href="#3">Самый необходимый набор Gulp плагинов</a></li>
                <li class="blog-menu__item"><a href="#4">Почему я выбрал Jade</a></li>
              </ul>
            </div>
            <div class="blog__col blog__col--right">
              <div class="blog-art"><a name="1"></a>
                <div class="blog-art__title">
                  <h2 class="art-title">Самое важное в SASS</h2>
                </div>
                <div class="blog-art__date">22 ноября 2016</div>
                <article>
                   Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                  Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                  <img>
                </article>
              </div>
              <div class="blog-art"><a name="2"></a>
                <div class="blog-art__title">
                  <h2 class="art-title">Приёмы в вёрстке, без которых не обходится ни один сайт</h2>
                </div>
                <div class="blog-art__date">13 ноября 2016</div>
                <article>
                   Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                  Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                  <img>
                </article>
              </div>
              <div class="blog-art"><a name="3"></a>
                <div class="blog-art__title">
                  <h2 class="art-title">Самый необходимый набор Gulp плагинов</h2>
                </div>
                <div class="blog-art__date">7 ноября 2016</div>
                <article>
                   Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                  Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                  <img>
                </article>
              </div>
              <div class="blog-art"><a name="4"></a>
                <div class="blog-art__title">
                  <h2 class="art-title">Почему я выбрал Jade</h2>
                </div>
                <div class="blog-art__date">5 ноября 2016</div>
                <article class="blog-art__html">
                  Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                  Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                  <img>
                </article>
              </div>
            </div>
          </div>
          <footer class="footer">
            <div class="footer__row">
              <div class="footer__col">
                <ul class="menu">
                  <il class="menu__item"><a class="menu_link" href="portfolio.html">Мои работы</a></il>
                  <il class="menu__item"><a class="menu_link" href="about.html">Обо мне</a></il>
                  <il class="menu__item"><a class="menu_link" href="blog.html">Блог</a></il>
                  <il class="menu__item"><a class="menu_link" href="index.html">Авторизация</a></il>
                </ul>
              </div>
              <div class="footer__col footer__col--justify-end">
                <ul class="socials">
                  <li class="socials__item socials__item--round"><a class="social__link" href="https://vk.com/id436024674" target="_blank">
                      <!--+icon(social, 'socials__icon')-->
                      <div class="socials__icon inlined-svg-vk"></div></a></li>
                  <li class="socials__item socials__item--round"><a class="social__link" href="https://github.com/white84" target="_blank">
                      <!--+icon(social, 'socials__icon')-->
                      <div class="socials__icon inlined-svg-github"></div></a></li>
                  <li class="socials__item socials__item--round"><a class="social__link" href="https://ru.linkedin.com/" target="_blank">
                      <!--+icon(social, 'socials__icon')-->
                      <div class="socials__icon inlined-svg-in"></div></a></li>
                </ul>
              </div>
            </div>
            <div class="footer__row">
              <div class="footer__col"> Я веб-разработчик из Подольска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. </div>
              <div class="footer__col footer__col--justify-end">© Лашин Александр | создано с любовью в LoftSchool | 2019</div>
            </div>
          </footer>
        </section>
      </div>
      <!--include ./common/footer.pug-->
      <script type="text/x-template" id="skills-list">
        <ul class="skills">
          <li class="skills__item" v-for="skillsGroupObject in skills">
            <skills-row :skillsGroupObject="skillsGroupObject"></skills-row>
          </li>
        </ul>
      </script>
      <script type="text/x-template" id="skills-item">
        <div class="skills-row">
          <div class="skills-row__title">{{skillsGroupObject.skillsGroup}}</div>
          <ul class="skills-row__list">
            <li class="skill-row__item" v-for="(skillPersentage, skillTitle) in skillsGroupObject.skills">
              <skill :skillPersentage="skillPersentage" :skillTitle="skillTitle"></skill>
            </li>
          </ul>
        </div>
      </script>
      <script type="text/x-template" id="skill">
        <div class="skill">
          <div class="skill__progress-bar" v-bind:title="skillTitle">
            <svg class="skill__progress" viewPort="0 0 100 100" preserveAspectRatio="none">
              <circle class="skill__circle" r="50" cx="60" cy="60"></circle>
              <circle class="skill__circle skill__circle--bar" r="50" cx="60" cy="60" ref="circle" stroke-dashoffset="100"></circle>
            </svg>
          </div>
        </div>
      </script>
    </div>
    <script src="bootloader.bundle.js"></script>
    <script src="vendor.bundle.js"></script>
  </body>
</html>